/* 登录页 */
#loginBody { background: #267cb7; width: 100%; height: 100%; left: 0; top: 0; right: 0; bottom: 0; }
#login-container { width: 280px; height: 240px; left: 50%; margin-left: -140px; top: 50%; margin-top: -180px; }
#login-container .system-name { color: #14abe3; }
#login-container .input-row { padding: 5px; background: #fff; overflow: hidden; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; margin-bottom: 20px; }
#login-container .input-row .textbox-ico { height: 30px; width: 30px; background: #fff; float: left; line-height: 30px; }
#login-container .input-row .textbox-ico i { color: #cececf; font-size: 20px; }
#login-container .input-row .login-textbox { height: 24px; border: 0; outline: 0; padding: 2px 4px; vertical-align: middle; margin: 0; width: 230px; color: #444; font-size: 14px; font-family: Arial; border: 1px solid #fff; }
#login-container .input-row .login-textbox:focus { border: 1px solid #f7f7f7; }
#login-container #login-submit { background: #0c4b77; border: 0; outline: 0; padding: 0; margin: 0; height: 40px; width: 280px; text-align: center; line-height: 40px; color: #fff; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; font-size: 14px; }
#login-container #login-submit:active { background: #075c98; }
.login-copy-right { left: 0; width: 100%; right: 0; bottom: 0; height: 50px; line-height: 50px; }
.login-copy-right, .login-copy-right * { color: #83b7cd; text-decoration: none; font-size: 13px; font-family: Arial; }
.login-copy-right a:hover { color: #50abda; }

/* 后台框架页*/
#backend-frame { background: #fff; left: 0; top: 0; bottom: 0; right: 0; height: 100%; width: 100%; z-index: 10; }
#backend-leftbar { left: 0; height: 100%; top: 0; width: 180px; bottom: 0; background: #267cb7; z-index: 30; font-family: 'Microsoft YaHei'; }
#backend-topbar { left: 180px; top: 0; right: 0; height: 38px; border-bottom: 1px solid #eeeeee; background: #fafafa; z-index: 32; }
#backend-right-container { left: 180px; top: 39px; right: 0; bottom: 0; z-index: 30; background: #fff; }
#backend-right-container #mainFrame { position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; }
#backend-logo { height: 38px; width: 100%; border-bottom: 1px solid #eeeeee; background: #fafafa; border-right: 1px solid #eeeeee; margin-left: -1px; }
#backend-logo h2 { color: #267cb7; margin: 0; padding: 0; font-family: Arial; height: 38px; width: 100%; text-align: center; line-height: 38px; font-weight: bold; font-size: 25px; }
#func-list { left: 0; top: 38px; right: 0; width: 100%; bottom: 38px; z-index: 100; }
#backend-topbar .topbar-left { float: left; }
#backend-topbar .topbar-right { float: right; }
#backend-topbar .topbar-left a, #backend-topbar .topbar-right a { display: inline-block; width: 38px; text-align: center; line-height: 38px; border-right: 1px solid #eeeeee; cursor: pointer; float: left; text-decoration: none; overflow: hidden; }
#backend-topbar .topbar-right a { border-right: 0; border-left: 1px solid #eeeeee; float: right; }
#backend-topbar .topbar-left a span i.iconfont, #backend-topbar .topbar-right a span i.iconfont { color: #686f7f; font-size: 20px; }
#backend-topbar .topbar-left a span i.iconfont.more-menu, #backend-topbar .topbar-right a span i.iconfont.more-menu { color: #267cb7; }
#backend-topbar .topbar-left a#swipe-layout i.iconfont { font-size: 22px; }
#backend-topbar .topbar-right a#message span i.iconfont { font-size: 23px; }
#backend-topbar .topbar-left a:hover, #backend-topbar .topbar-right a:hover { background: #267cb7; }
#backend-topbar .topbar-left a:hover span i.iconfont, #backend-topbar .topbar-right a:hover span i.iconfont { color: #fff; }
#backend-module { height: 200px; background: rgba(29,29,29,0.9); left: 0; top: -200px; right: 0; z-index: 100; }
#backend-module ul, #backend-module ul li { margin: 0; padding: 0; list-style: none; }
#backend-module ul li { height: 120px; width: 120px; float: left; margin: 40px 0 0 22px; cursor: pointer; border: 2px solid rgba(29,29,29,0.9); text-align: center; line-height: normal; }
#backend-module ul li .module-ico { height: 80px; line-height: 80px; }
#backend-module ul li .module-ico i { color: #fff; font-size: 50px; transition: All 0.2s ease-in-out; -webkit-transition: All 0.2s ease-in-out; -moz-transition: All 0.2s ease-in-out; -o-transition: All 0.2s ease-in-out; -ms-transition: All 0.2s ease-in-out; }
#backend-module ul li p { display: block; height: 40px; line-height: 40px; font-size: 16px; color: #fff; margin: 0; padding: 0; font-family: 'Microsoft YaHei'; }
#backend-module ul li:hover { border: 2px solid #666; }
#backend-module ul li:hover .module-ico i { transform: scale(1.3); -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); -o-transform: scale(1.3); }
#global-refresh { width: 40px; height: 40px; line-height: 36px; text-align: center; background: rgba(38,124,183,0.8); z-index: 19930527; right: 20px; bottom: 20px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; -mz-border-radius: 50%; overflow: hidden; cursor: pointer; }
#global-refresh:hover { background: rgba(38,124,183,1); }
#global-refresh span i.iconfont { color: #fff; font-size: 22px; }
.module-plugin-container .module-name { padding: 8px 0; margin: 0 8px; border-bottom: 1px solid #468dbd; }
.module-plugin-container .module-name h4 { margin: 0; padding: 0; color: #fff; font-weight: 500; font-size: 16px; }
.module-plugin-container .module-name span { padding: 0 8px 0 0; }
.module-plugin-container .module-name span i.iconfont { color: #fff; }
.func-tree-list ul, .func-tree-list ul li { list-style: none; margin: 0; padding: 0; line-height: normal; }
.tree-space { display: inline-block; width: 12px; vertical-align: middle; }
.func-tree-list, .func-tree-item { position: absolute; top: 0; left: 0; width: 100%; right: 0; bottom: 0; height: 100%; }
.func-tree-list { top: 38px; }
.func-tree-list ul li { color: #fff; font-size: 14px; clear: both; }
.func-tree-list ul li .func-item { height: 32px; line-height: 32px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; padding: 0 10px; cursor: pointer; }
.func-tree-list ul li .func-item strong { font-weight: 400; font-style: normal; min-height: 0; height: auto; overflow: hidden; }
.func-tree-list ul li .func-item .dir-ico { display: inline-block; padding-right: 4px; color:; }
.func-tree-list ul li .func-item .out-in-ico { float: right; }
.func-tree-list ul li .func-item:hover { background: #14abe3; }
.func-tree-list ul li .func-item:hover strong { font-weight: 500; }
.func-tree-list ul li > ul { display: none; }
#func-list .func-tree-item { display: none; }
#func-list .func-tree-item.winu-display-block { display: block; }
