/*!
 * 文件名称：通用样式
 * 文件作者：百小僧
 * 编写日期：2016年02月23日
 * 版权所有：百签软件有限公司
 * 企业官网：http://www.baisoft.org
 * 开源协议：GPL v2 License
 * 文件描述：一切从简，只为了更懒！
 */
.winu-font-family-simsun { font-family: SimSun; }
.winu-font-family-arial { font-family: Arial; }
.winu-font-family-yahei { font-family: 'Microsoft YaHei'; }
.winu-width-100 { width: 100%; }
.winu-margin-right-zero { margin-right: 0; }
.winu-white-space-nowrap { white-space: nowrap; }
.winu-background-opacity { background: rgba(0,0,0,0); }
.winu-background-white { background: #fff; }
.winu-clear-both { clear: both; }
.winu-text-align-center { text-align: center; }
.winu-text-align-left { text-align: left; }
.winu-text-align-right { text-align: right; }
.winu-overflow-hidden { overflow: hidden; }
.winu-float-left { float: left; }
.winu-float-right { float: right; }
.winu-float-none { float: none; }
.winu-display-none { display: none; }
.winu-display-block { display: block; }
.winu-display-inline { display: inline; }
.winu-display-inline-block { display: inline-block; }
.winu-box-sizing-border-box { box-sizing: border-box; -webkit-box-sizing: border-box; }
.winu-box-sizing-content-box { box-sizing: content-box; -webkit-box-sizing: content-box; }
.winu-position-absolute { position: absolute; }
.winu-position-relative { position: relative; }
.winu-position-fixed { position: fixed; }
.winu-min-height { min-height: 0; height: auto; overflow: hidden; }
.winu-vertical-align-middle { vertical-align: middle; }
