@{
    ViewBag.Title = "管理首页 - AppSoft2.0.IO - 百签软件有限公司";
    Layout = "~/Areas/Backend/Views/Theme/Blue/Shared/_Layout.cshtml";
}
<h2 class="winu-text-align-center">AppSoft2.0.IO</h2>
<h2 class="winu-text-align-center">百签软件有限公司</h2>

